.terms {
  background: linear-gradient(rgb(250, 227, 222), rgb(198, 135, 129));   
  width: 100%;
}
.terms h1 {
  text-align: center;
  padding-top: 2%;
  font-size: 1.7em;
  font-weight: 600;
  text-decoration: underline;
}
.terms h1:hover {
  animation: terms 1.2s linear;
}
@keyframes terms {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1.2);
  }
}

.terms-conditions div {
  padding: 20px 30px;
}

.terms-conditions div h2 {
  margin-bottom: 5px;
  font-size: 1.2em;
}
.terms-conditions div p {
  padding-left: 25px;
  font-size: 1em;
}

hr {
  height: 2px;
  border: none;
  background-color: rgb(71, 2, 2);
}
